@using Microsoft.AspNetCore.Identity
@model Ece_Berker_Project.ViewModel.ProfileViewModel
@inject UserManager<YorumluoUser> UserManager
@{
    ViewData["Title"] = "Details";
   
}

<h1>@Model.UserCode</h1>

