@using Microsoft.AspNetCore.Identity
@model Ece_Berker_Project.ViewModel.ProfileViewModel
@inject UserManager<YorumluoUser> UserManager
@inject SignInManager<YorumluoUser> SignInManager
@{
    ViewData["Title"] = "Details";

}
@{
    Task<YorumluoUser> GetCurrentUserAsync() => UserManager.GetUserAsync(User);

    var user = await GetCurrentUserAsync();
    var imageUrl = user.PhotoPath;
   
}

<div class="row mb-2 mt-5">
    <div class="col-md-12 rounded">
        <div class="card flex-md-row mb-4 box-shadow h-md-250 rounded">
            <img class="card-img-right flex-auto d-none d-md-block" data-src="~/img/@imageUrl" alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" src="~/img/@imageUrl" data-holder-rendered="true">
            <div class="card-body d-flex flex-column align-items-start">

                <h3 class="mb-0">
                    <a class="text-dark" href="#">@Model.UserCode</a>
                </h3>

                <p class="card-text mb-auto">@Model.Bio</p>

            </div>

        </div>
    </div>
</div>
<div>
    @if (SignInManager.IsSignedIn(User))
    {


        if (user.UserCode == Model.UserCode)
        {
            @Html.Partial("_NewYorum", new Ece_Berker_Project.Models.Yorum())
        }
    }

</div>
<table class="table">
    <tbody>
        @await Component.InvokeAsync("YorumViewComponent", Model.UserCode)
    </tbody>
</table>