@using Microsoft.AspNetCore.Identity
@model Ece_Berker_Project.ViewModel.ProfileViewModel
@inject UserManager<YorumluoUser> UserManager
@{
    ViewData["Title"] = "Details";
   
}

<h1>@Model.UserCode</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Yorum 
            </th>
            <th>
               Kategori Adı
            </th>

        </tr>
    </thead>
    <tbody>
        @await Component.InvokeAsync("YorumViewComponent", Model.UserCode)
    </tbody>
</table>