@using Microsoft.AspNetCore.Identity
@model Ece_Berker_Project.ViewModel.ProfileViewModel
@inject UserManager<YorumluoUser> UserManager
@inject SignInManager<YorumluoUser> SignInManager
@{
    ViewData["Title"] = "Details";

}
@{
    Task<YorumluoUser> GetCurrentUserAsync() => UserManager.GetUserAsync(User);

    var user = await GetCurrentUserAsync();

    var url = Model.User.PhotoPath;


}

<div class="row mb-2 mt-5">
    <div class="col-md-12 rounded">
        <div class="card flex-md-row mb-4 box-shadow h-md-250 rounded">
            <img class="card-img-right flex-auto d-none d-md-block" data-src="~/img/@url" alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" src="~/img/@Model.User.PhotoPath" data-holder-rendered="true">
            <div class="card-body d-flex flex-column align-items-start">

                <h3 class="mb-0">
                    <a class="text-dark" href="#">@Model.User.UserCode</a>
                </h3>

                <p class="card-text mb-auto">@Model.User.Bio</p>

            </div>

        </div>
    </div>
</div>
<div>
    @if (SignInManager.IsSignedIn(User))
    {


        if (user.UserCode == Model.User.UserCode)
        {
            @Html.Partial("_NewYorum", new Ece_Berker_Project.Models.Yorum())
        }
    }
 

</div>
<table class="table">

    <tbody id="PageList">
        <a class="border-bottom border-gray pb-2 mb-0" id="yo">Son Yorumlar</a>
        @await Component.InvokeAsync("YorumViewComponent", new { id = Model.User.UserCode })

        <a class="border-bottom border-gray pb-2 mb-0" id="li">Beğeniler</a>
        @await Component.InvokeAsync("ProfileLikeViewComponent", new { id = Model.User.Id })
    </tbody>
</table>

