@model IEnumerable<Ece_Berker_Project.Models.Yorum>

@using Microsoft.AspNetCore.Identity
@inject SignInManager<YorumluoUser> SignInManager
@inject UserManager<YorumluoUser> UserManager

@{
    ViewData["Title"] = "Anasayfa";
}

<h1></h1>

<p>
    @Html.Partial("_NewYorum", new Ece_Berker_Project.Models.Yorum())

</p>

@await Component.InvokeAsync("YorumViewComponent")