<!DOCTYPE html>
<body>
    <style>
        html {
            background: url('../../img/bg.png') no-repeat center center fixed;
            background-size: cover;
            color: #000;
        }

        body {
            background: transparent;
        }

        div.row {
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 30px;
            padding: 10px;
            margin: 10px;
        }

        img {
            max-width: 100%;
        }

        .footer {
            background-color: rgba(255, 255, 255, 0.8);
            color: #000;
            margin-top: 10px;
        }
        h5 {
            font-size: 1.4rem;
        } 
    </style>

    <div class="container col-md-12 p-4 ">
        <div class="row">


            <div class="col-sm-6">
                <h2></h2>
                <p></p>
            </div>
            <div class="col-sm-6">

                <p>Birçok konuda yorum yapmak ve insanların yorumlarını görmek için üye girişi yap ya da üye ol.</p>
                <h5>Üye Girişi</h5>
                @Html.Partial("Login", new Ece_Berker_Project.ViewModel.LoginViewModel())
            </div>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</body>