@model Ece_Berker_Project.ViewModel.ProfileViewModel
    <form asp-controller="Account" asp-action="Manage">

        <input  asp-for="Bio" />
        <div class="form-group mt-2 ml-0">
            <button type="Submit" class="btn btn-primary">Yorumla</button>
        </div>

    </form>

